<div id="splash-screen-div">	
	<div id="splash_screen_header">
		<img id="splash_screen_logo_img" src="images/logo_128_128.png" alt="Logo/Icon" />
	</div>
	
	<div id="splash_screen_body">
		<h1 id="splash_screen_appName"></h1>
		<h2 id="splash_screen_vendor"></h2>
		<h3 id="splash_screen_appVersion"></h3>
	</div>
	
	<div id="splash_screen_footer">
		<span>Supported formats: 
			<img id="splash_screen_mp3_icon" src="images/icon_mp3_16x16.png" alt="MP3 Icon Small" />
			<img id="splash_screen_mp4_icon" src="images/icon_mp4_16x16.png" alt="MP4 Icon Small" />
			<img id="splash_screen_enhanced_icon" src="images/icon_enhanced_16x16.png" alt="Enhanced Icon Small" />
		</span>
	</div>
</div>
