<div id="main" class="palm-hasheader">
	<div class="palm-header">PodSnatcher</div>
</div>

<fieldset><legend>&nbsp;CNN&nbsp;</legend>
	<div class="episodeTitle"><a href="#">Episode 1</a></div>
	<div class="episodeArt"><img src="images/episode_art.PNG" /></div><br />
		<hr />
			<div class="episodeTitle"><a href="#">Episode 2</a></div>
			<div class="episodeArt"><img src="images/episode_art.PNG" /></div><br />
		<hr />
			<div class="episodeTitle"><a href="#">Episode 3</a></div>
			<div class="episodeArt"><img src="images/episode_art.PNG" /></div><br />
		<hr />
</fieldset>
<fieldset><legend>&nbsp;NY Times&nbsp;</legend>
        <div class="episodeTitle"><a href="#">Episode 1</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 2</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 3</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
</fieldset>
<fieldset><legend>&nbsp;Disney&nbsp;</legend>
        <div class="episodeTitle"><a href="#">Episode 1</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 2</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 3</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
</fieldset>
<fieldset><legend>&nbsp;UCF&nbsp;</legend>
        <div class="episodeTitle"><a href="#">Episode 1</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 2</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
       
        <div class="episodeTitle"><a href="#">Episode 3</a></div>
        <div class="episodeArt"><img src="images/episode_art.PNG" /></div><br /><hr>
</fieldset>
