<div id="quick-guide-container">
    <div id="quick-guide-content">
        <p><h2>Kurzanleitung</h2>
		Erfahren Sie, wie Sie navigieren durch Ihre Podcast-Sammlung mit diesem handlichen Kurzanleitung:<br />

		<ul><span class="section-title">Durchsuchen Ihrer Sammlung</span>
			<li>Flick das Album Artwork rechts oder links, um eine andere Podcast schauen</li>
			<li>Tippen Sie auf die Pfeile rechts oder links zu einer anderen Podcast schauen</li>
			<li>Tippen Sie auf das Album-Artwork zum Informationen über die Podcast finden</li>
		</ul>

		<ul><span class="section-title">Hören Episoden</span>
			<li>Tippen Sie auf eine Episode zu spielen</li>
			<li>Spiel / Pause / Vorlauf vom Kontrolleur Tab</li>
			<li>Tippen Sie auf Kontrolleur Tab zum zeigen / verbergen Episode Fortschritte</li>
			<li>Verwenden Sie Schieberegler, um durch eine Episode zu navigieren</li>
		</ul>

		<ul><span class="section-title">Herunterladen Episoden</span>
			<li>Tippen Sie auf den Pfeil nach unten-Taste, um einen Download beginnen</li>
			<li>Tippen Sie auf die Schaltfläche "Abbrechen" zum Download halten</li>
			<li>Wann Sie auf eine Episode klicken, dann werden PodSnatcher der Episode auf den Queue stellen. </li>
			<li>Der Pfeil nach unten wird nicht gesehen, wenn Sie der Episode heruntergeladen haben.</li>
		</ul>

		<ul><span class="section-title">Der Episode färben Code</span>
			<li>Die neuen Episoden hat <strong>fett</strong>, <span style="color:#49708a;">blau</span> Text, mit den Download-Taste gezeigt</li>
			<li>Die neuen Episoden hat <strong>fett</strong>, <span style="color:#49708a;">blau</span> Text, ohne den Download-Taste gezeigt</li>
			<li>Die Episoden hören oder pausieren Sie momentan hat <strong>fett</strong>, <cite>kursiv</cite>, <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">weiße</span> Text, mit den Download-Taste gezeigt.</li>
			<li>Die Episoden hören oder pausieren Sie momentan hat <strong>fett</strong>, <cite>kursiv</cite>, <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">weiße</span> Text, ohne den Download-Taste gezeigt.</li>
			<li>Die Episoden gehören Sie hat <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">weiße</span> Text mit den Download-Taste gezeigt.</li>
			<li>Die Episoden gehören Sie hat <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">weiße</span> Text ohne den Download-Taste gezeigt.</li>
		</ul>

		<ul><span class="section-title">Hinzufügen und entfernen die Podcasts</span>
			<li>Tippen Sie auf das Menü und wählen Sie: Podcast Aktionen> Abonnieren / entfernen Podcasts</li>
			<li>Podcasts hinzufügen, indem Sie einen RSS-oder ATOM-Feeds</li>
			<li>Entfernen Sie einen Podcast von swiping zu löschen</li>
		</ul>

		<ul><span class="section-title">Aktualisierung Podcasts</span>
			<li>Tippen Sie auf das Menü und wählen Sie: Podcast Verfahren > Update Alle Podcasts</li>
			<li>Tap and hold the album artwork of the podcast you want to update.</li>
			<li>Tippen Sie auf das Menü und wählen Sie: Podcast Verfahren > Erfrischen Album Art</li>
		</ul>

		<ul><span class="section-title">Aussieben Sie Ihre Podcasts</span>
			<li>Tippen Sie auf das Menü und wählen Sie: Aussieben Liste</li>
			<li>Aussieben alle ungehört Podcasts</li>
			<li>Aussieben alle gehört Podcasts</li>
			<li>Aussieben alle heruntergeladen Podcasts</li>
		</ul>

		</p>

    </div>
    <div id="quick-guide-footer"></div>
</div>
