<div id="now-playing-audio-scene-container">
	<div id="now-playing-audio-album-art">
		<img id="now-playing-audio-image" src="#{image}" alt="#{title}" width="85px" />
	</div>
	<div id="now-playing-audio-title-box">
		<div id="infoTitle">#{title}</div>
		<div id="infoAuthor">#{author}</div>
		<div id="infoCategory">#{category}</div>
		<div id="infoLanguage">#{language}</div>
		<div id="infoCopyright">#{copyright}</div>
	</div>
	<div id="podcast-description-box">
		
		<div id="podcast-description">
			<div id="podcast-episode-title">#{episodeTitle}</div>
			#{episodeDescription}
		</div>
		<div id="podcast-description-footer"></div>
	</div>
</div>
<div class="slide-up-down" id="player-controls-slider-area">
	<div id="player-controls">
		<div id="rewind"></div>
		<div id="pause"></div>
		<div id="fastforward"></div>
	</div>
	<div x-mojo-element="Slider" id="player-controls-slider"></div>
</div>