<div id="now-playing-audio-album-art">
	<img id="now-playing-audio-image" class="default-album-art-medium" src="#{image}" alt="#{title}" width="85px" />
</div>
<div id="now-playing-audio-title-box">
	<div id="infoTitle">#{-title}</div>
	<div id="infoAuthor">#{-author}</div>
	<div id="infoCategory">#{-category}</div>
	<div id="infoLanguage">#{-language}</div>
	<div id="infoCopyright">#{-copyright}</div>
</div>
<div id="podcast-description-box">

	<div id="podcast-description">
		<div id="podcast-episode-title">#{-episodeTitle}</div>
		#{-episodeDescription}
	</div>
	<div id="podcast-description-footer"></div>
</div>
