<div id="quick-guide-container">
    <div id="quick-guide-content">
        <p><h2>Quick Guide</h2>
		Learn how to navigate through your podcast collection with this handy quick guide:<br />
		
		<ul><span class="section-title">Browsing your collection</span>
			<li>Flick the album artwork right or left to view another podcast</li>
			<li>Tap the right or left arrows to view another podcast</li>
			<li>Tap the album artwork to view information about the podcast</li>
		</ul>
		
		<ul><span class="section-title">Listening to episodes</span>
			<li>Tap an episode to play</li>
			<li>Play/Pause/Fast-forward from controller tab</li>
			<li>Tap controller tab to show/hide episode progress</li>
			<li>Use slider to navigate through an episode</li>
		</ul>
		
		<ul><span class="section-title">Downloading episodes</span>
			<li>Tap the down-arrow button to start a download</li>
			<li>Tap the cancel button to stop a download</li>
			<li>PodSnatcher will queue episodes to download in the order you click them</li>
			<li>The down-arrow button will not be shown if you have already downloaded an episode</li>
		</ul>
		
		<ul><span class="section-title">Episode color code</span>
			<li>New episodes have bold, blue text</li>
			<li>Old episodes have regular, white text</li>
		</ul>
		
		<ul><span class="section-title">Adding and removing podcasts</span>
			<li>Tap the application menu and choose: Podcast Actions > Add/Remove Podcasts</li>
			<li>Add podcasts by entering RSS or ATOM feed</li>
			<li>Remove a podcast by swiping to delete</li>
		</ul>
		
		<ul><span class="section-title">Updating podcasts</span>
			<li>Tap the application menu and choose: Podcast Actions > Update All Podcasts</li>
			<li>All podcasts will be updated simultaneously</li>
			<li>Tap the application menu and choose: Podcast Actions > Refresh Album Art</li>
			<li>All podcasts will update their album artwork simultaneously</li>
		</ul>
		
		<ul><span class="section-title">Filter your podcasts</span>
			<li>Tap the application menu and choose: Filter List</li>
			<li>Filter all unheard podcasts</li>
			<li>Filter all listened to podcasts</li>
			<li>Filter all downloaded podcasts</li>
		</ul>
		
		</p>
		
    </div>
    <div id="quick-guide-footer"></div>
</div>