<div id="quick-guide-container">
    <div id="quick-guide-content">
        <p><h2>Quick Guide</h2>
		Learn how to navigate through your podcast collection:</p>
		
		<p>Flick the album artwork right or left to view another podcast<br />
		Tap the right or left arrows to view another podcast<br />
		Tap the album artwork to view information about the podcast</p>
		
		<p>Tap an episode to play<br />
		Tap an episode again to pause<br />
		Tap the down-arrow  button to start a download<br />
		Tap the cancel button to stop a download</p>
		
		<p>New episodes have blue text<br />
		Older episodes have white text</p>
		
		<p>Tap the application menu and choose "Podcast Actions" to:<br />
		Add and remove entire podcasts<br />
		Update all podcasts simultaneously<br />
		Refresh all podcasts album artwork</p>
		
		<p>Tap the application menu and choose "Filter List" to:<br />
		Filter all unheard podcasts<br />
		Filter all listened to podcasts<br />
		Filter all downloaded podcasts</p>
    </div>
    <div id="quick-guide-footer"></div>
</div>