<!-- <div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon"></div>
		<div class="title">Add Feed</div>
		<div class="subtitle">Search for a feed, or enter a URL directly.</div>
	</div>
</div> -->
<div id="add-feed-header">
	<div id="title-add-feed-header">Hinzufügen Feed</div>
	<div id="subtitle-add-feed-header">Suche nach einem Feed oder geben Sie eine URL direkt.</div>
</div>
<div class='palm-row'>
	<div class="palm-row-wrapper">
		<hr style="opacity:.5; position:relative; top:12px;" />
		<div class="textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label">SUCHE oder URL</div>
				<div id="search-or-url" x-mojo-element="TextField" ></div>
			</div>
		</div>
	</div>
</div>
<div id="search-btn" x-mojo-element="Button"></div>

<div id="error-dialog" class="palm-inline-error">
	<div id="error-message" class="error-message">My error is here!!</div>
</div>

<div class="palm-list">
	<div x-mojo-element="List" id="search-results-list"></div>
</div>
