<div id="quick-guide-container">
    <div id="quick-guide-content">
        <p><h2>Guía rápida</h2>
		Aprenda a navegar a través de su colección podcast con esta guía rápida:<br />

		<ul><span class="section-title">Navegando su colección</span>
			<li>Seleccione la portada del álbum hacia la derecha o la izquierda para ver otro podcast</li>
			<li>Seleccione las flechas hacia la izquierda o derecha para ver otro podcast</li>
			<li>Seleccione la portada del álbum para ver información sobre el podcast</li>
		</ul>

		<ul><span class="section-title">Escuchando los episodios</span>
			<li>Seleccione un episodio para escucharlo</li>
			<li>Escuchar / Pausar / Avanzar rápido desde el control de ficha</li>
			<li>Seleccione el control de ficha para ver o esconder el progreso del episodio</li>
			<li>Use la barra para navegar por los episodios</li>
		</ul>

		<ul><span class="section-title">Descargando  episodios</span>
			<li>Seleccione el botón de flecha hacia abajo para comenzar la descarga</li>
			<li>Seleccione el botón de cancelar para cancelar la descarga</li>
			<li>PodSnatcher pondrá en queu los episodios para descargar en el orden que los mande</li>
			<li>El  botón de la flecha hacia abajo no se ve si ya ha descargado un episodio</li>
		</ul>

		<ul><span class="section-title">Episodio código de color</span>
			<li>Los nuevos episodios tienen las letras <strong>sobresalidas</strong> y el color del texto en <span style="color:#49708a;">azul</span>, cuando el botón de descargar se ve</li>
			<li>Los nuevos episodios que se descargan tienen las letras <strong>sobresalidas</strong> y el color del texto en <span style="color:#49708a;">azul</span>, sin que el botón de descarga se vea</li>
			<li>Escuchando o episodios pausados tiene las letras <strong>sobresalidas</strong>, <cite>itálicas</cite>, y el color del texto en <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">blanco</span> cuando el botón de descargada se vea.</li>
			<li>Escuchando o episodios pausados que han sido descargado tiene las letras <strong>sobresalidas</strong>, <cite>itálicas</cite>, y el color del texto en <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">blanco</span> sin que el botón de descarga se vea.</li>
			<li>Episodios escuchados tienen el texto en color <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">blanco</span> con el botón de descarga que se vea.</li>
			<li>Episodios escuchados que se han descargados tienen texto en color <span style="padding: 0 4px; text-align:center; color:#ffffff; background-color: #666666;">blanco</span> sin el botón de descarga que se vea.</li>
		</ul>

		<ul><span class="section-title">Añadir y eliminar los podcasts</span>
			<li>Seleccione la aplicación del menu y elija: Podcast en Acciones> Agregar o Quitar Podcasts</li>
			<li>Añadir podcasts mediante la introducción de un feed al RSS o ATOM</li>
			<li>Quitar un podcast swiping para eliminar</li>
		</ul>

		<ul><span class="section-title">Actualizando podcasts</span>
			<li>Seleccione la aplicación del menú y seleccione: Acciones Podcast> Actualizar todos los podcasts</li>
			<li>Seleccione y mantenga apretado la portada del álbum del podcast que desea actualizar</li>
			<li>Seleccione la aplicación del menú y seleccione: Acciones Podcast> Actualizar Arte de Álbum</li>
		</ul>

		<ul><span class="section-title">Filtre sus podcasts</span>
			<li>Seleccione la aplicación del menú y elija: Lista de filtros</li>
			<li>Filtrar todos los podcasts que no has escuchado</li>
			<li>Filtrar todos los podcasts que has escuchado</li>
			<li>Filtrar todos los podcasts descargados</li>
		</ul>

		</p>

    </div>
    <div id="quick-guide-footer"></div>
</div>
