<div id="info-scene-container">
    <div id="info-album-art">
        <img id="info-image" src="" alt="" width="85px" />
    </div>
    <div id="info-title-box">
        <div id="infoTitle"></div>
        <div id="infoAuthor"></div>
        <div id="infoCategory"></div>
        <div id="infoLanguage"></div>
        <div id="infoCopyright"></div>
    </div>
    <div id="podcast-description-box">
        <div id="podcast-description"></div>
        <div id="podcast-description-footer"></div>
    </div>
</div>