#mojo-scene-main-scene-scroller {
	background: url(../images/background-bottom.png) repeat-x #ebf7f8;
}

#header {
	background: url(../images/background-top.png) no-repeat;
	width: 100%;
	height: 155px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 350;
}

#album-art-area {
	background: url(../images/tabs.png) no-repeat;
	width: 216px;
	height: 111px;
	margin: 0 auto;
	position: relative;
	top: -145px;
	z-index: 500;
}

#album-art {
	/* Album Art = 144x144px
	   Border = 14px, 172x172px
	   Actual "border.png" 14px, 200x200px */
	background: url(../images/border.png) no-repeat;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: 8px;
	z-index: 1000;
	/*border: 1px solid red;*/
}

img#image {
	background-color: #caff42;
	margin: 28px;
}

#podcast-count {
	width: 144px;
	color: #49708A;
	font-size: 10px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -72px;
	bottom: 0px;
	margin-bottom: 15px;
}

#updatingSpinner {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -64px;
	z-index: 2000;
	/*border: 1px solid green;*/
}

#stripe {
	background: url(../images/stripe.png) repeat-x;
	width: 100%;
	height: 27px;
	position: absolute;
	top: 155px;
	z-index: 250;
}

#podcastTitle {
	position: relative;
	top: 198px;
	color: #49708A;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#episodeList {
	position: relative;
	top: 202px;
	left: 0;
	margin: 0 auto;
	z-index: 0;
}

.status {
	background-repeat: repeat-x;
	width: 0%;
	height: 46px !important;
	margin: 0px !important;
	float: none !important;
}

.playing {
	background-image: url(../images/background-now-playing.png);
}

.downloading {
	background-image: url(../images/background-now-downloading.png);
}

.downloadButton {
	background-image: url(../images/download.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 6px 0px 0px 0px;
}
.cancel {
	background-image: url(../images/cancel.png) !important;
}

.listItem.palm-row {
	margin: 0 auto;
	margin-bottom: 4px;
	background-image: none !important;
	background-color: #88abc2 !important;
	border: 4px solid #acc9dd !important;
	color: #ffffff;
	height: 46px;
	width: 256px;
	overflow: hidden;
}

.listItem.palm-row.selected {
	-webkit-border-image: none !important;
	background: none !important;
	border: 4px solid #acc9dd !important;
	background-color: #49708A !important;
}

.episodeTitle {
	width: 100%;
	height: 23px;
	float: left;
	text-align: left;
	padding: 2px 4px 0px 4px;
	font-size: 14px;
}
.episodeLength {
	width: 100%;
	height: 23px;
	float: right;
	text-align: right;
	padding: 0px 4px 0px 4px;
	font-size: 12px;
}

.withButton {
	width: 82% !important;
	padding-left: 0px !important;
}

.newEpisode {
	font-weight: bold;
}



/* CLICKABLE AREA */
#album-art-area-right {
	height: 110px;
	width: 100px;
	float: right;
	/*border: 1px solid red;*/
	z-index: 1000;
}
#album-art-area-left {
	height: 110px;
	width: 100px;
	float: left;
	/*border: 1px solid green;*/
	z-index: 1000;
}
/******************/

.video {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 320px !important;
	height: 480px !important;
	z-index: 3000;
	background-color: #000020;
}
