#header {
	background-image: url(../images/background-top.png);
	background-repeat: no-repeat;
	height: 155px;
	position: relative;
}

#album-art-area {
	width: 216px;
	height: 111px;
	background-image: url(../images/tabs.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	position: absolute;
	left: 52px;
	top: 59px;
}

#album-art {
	/* Album Art = 144x144px
	   Border = 14px, 172x172px
	   Actual "border.png" 14px, 200x200px */
	width: 200px;
	height: 200px;
	background-image: url(../images/border.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	position: absolute;
	left: 60px;
	top: 14px;
	z-index: 1000;
}

img#image {
	margin: 28px;
	background-color: #caff42;
}

#footer {
	height: 400px;
	background-position: top;
	background-image: url(../images/background-bottom.png);
	background-repeat: repeat-x;
	background-color: #ebf7f8;
}

#episodeList {
	
}

/* CLICKABLE AREA */
#album-art-area-right {
	height: 110px;
	width: 100px;
	float: right;
	border: 1px solid red;
	z-index: 1000;
}
#album-art-area-left {
	height: 110px;
	width: 100px;
	float: left;
	border: 1px solid green;
	z-index: 1000;
}
/******************/