.wahvee-progress-slider-btn {
	/*width: 26px;
	height: 26px;*/
	width: 90px;
	height: 90px;
	/*margin: 0 0 0 -13px;*/
	margin: 0 0 0 -45px;
	/*background-color: #0000FF;*/
	background-image: url(../images/slider-button.png);
	z-index: 2;
	position: absolute;
	left: 0px;
}

.wahvee-progress-slider-btn-drag,
.wahvee-progress-slider-btn-drag.selected {
	/*background-color: #BF5FFF;*/
	background-image: url(../images/slider-button-press.png);
}

.wahvee-progress-display {
	height: 11px;
	width: 0%;
	float: left;
	/*background-color: #FF0000;*/
	
	border-width: 0px 6px 0px 6px;
    -webkit-border-image: url(../images/progress-bar-progress.png) 0 6 0 6 repeat repeat;
	
	z-index: 1;
	position: relative;
	left: -6px;
}

.wahvee-progress-background {
	/** Margin is 10px because the height is 6px
	 * this is then subtracted from the height of the button
	 * which is 26px, which leaves 20px. Which is then divided
	 * in half.
	 */
	/*margin-top: 10px;*/
	margin-top: 39px;
	height: 11px;
	width: 100%;
	float: left;
	
	border-width: 0px 6px 0px 6px;
	-webkit-border-image: url(../images/progress-bar-background.png) 0 6 0 6 repeat repeat;
	
	z-index: 0;
	position: relative;
}
