<div class="palm-dialog-content">
	<div id="palm-dialog-title" class="dialog-title">Add New Podcast</div>
	<div id="palm-dialog-separator" class="palm-dialog-separator"></div>
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">URL</div>
			<div id="newFeedURL" x-mojo-element="TextField" align="left"></div>
		</div>
	</div>


</div>
<div class="palm-dialog-buttons">
	<div>
		<div x-mojo-element="Button" id="okButton"></div>
	</div>
</div>
