<div class="palm-dialog-content">
	<div id="palm-dialog-title" class="dialog-title">Add New Podcast</div>
	<div id="palm-dialog-separator" class="palm-dialog-separator"></div>
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">URL</div>
			<div id="new-feed-url" x-mojo-element="TextField" align="left"></div>
		</div>
	</div>
	<div id="error-dialog" class="palm-inline-error">
		<div id="error-message" class="error-message">Podcast already in database, or URL is invalid.</div>
	</div>
</div>
<div id="ok-button" x-mojo-element="Button">Something</div>
